<Strings>
	<!-- controls -->
	<Text>Не использовано</Text>
	<Text>Настройки</Text>
	<Text>Статус</Text>
	<Text>Бег/Отмена</Text>
	<Text>Огонь/Использов.</Text>
	<Text>Прицеливание</Text>
	<Text>Поворот направо</Text>
	<Text>Поворот налево</Text>
	<Text>Назад</Text>
	<Text>Вперёд</Text>
	<Text>Сменить цель</Text>
	<Text>Выход</Text>
	<Text>Подтвердить измен.</Text>
	<Text>Отменить</Text>
	<!-- -->
</Strings>